/* font-family: 'Poppins', sans-serif; */
:root {
    --backgroundcolor: #0F172A;
    --fonts: 'Poppins', sans-serif;
    --titlecolor: #FFFFFF;
    --articlecolor: #94A3B8;
    --actionbuttoncolor: #2563EB;
    --formfontsize: 14px;
    --formcolor: #E4E4E7;
}

.container {
    width: 1440px;
    padding: 140px 155px;
    margin: auto;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: top;
    background-color: var(--backgroundcolor);
}

.img1 {
    border-radius: 2%;
}

h1 {
    font-family: var(--fonts);
    color: var(--titlecolor);
    font-size: 52px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -2px;
    margin-bottom: 19px;
}

.article {
    font-family: var(--fonts);
    color: var(--articlecolor);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

.firstbutton {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #1E293B;
    margin-bottom: 49px;
}

.buttonp {
    font-family: var(--fonts);
    color: var(--titlecolor);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.label1{
    display: block;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #E4E4E7;
    line-height: 22px;
    margin-bottom: 10px;
}

.input1{
    width: 100%;
    padding: 17px 22px;
    border-radius: 35px;
    border: 1px solid #334155;
    background-color: transparent;
    margin-bottom: 24px;
}
::placeholder{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 26px;
    color: #94A3B8;
}
input[type=checkbox]{
    appearance: none ;
    width: 20px;
    height: 20px;
    border: 1px solid #334155;
    border-radius: 5px;
}
input[type=checkbox]:checked::before
{
content: "\f00c";
font-family: "Font Awesome 6 Free";
font-weight: 900;
font-size: 20px;
color: var(--titlecolor);
}


.checkboxdiv{
    display: flex;
    align-items: center;
    gap: 5px    ;
    margin-bottom: 31px;
}
.checkboxp{
    font-family: var(--fonts);
    color: var(--titlecolor); 
    font-size: var(--formfontsize);
}

